_okmo7 _7shjj _445wt﻿
{
display: none !important;

}

_grrw0 coreSpriteInstallBannerLogo{
display: none !important;
}

_rsurd{
display: none !important;
}

_cv4vz{
display: none !important;
}

_e2u1h{
display: none !important;
}

.button{
_93aj8

display: nont !important;
}

